$body-bg:rgb(0, 0, 0);
$info: rgb(59, 245, 242);

@import "../node_modules/bootstrap/scss/bootstrap.scss";

@media (min-width: 992px){
    .navbar-collapse{
        padding-left: 20rem;
    }
}
.custombg{
    background: black url('../files/abstract.jpg');
    background-size: cover;
}
.card-group{
    margin:4rem;
}
.card{
    border:none;
    margin: 2rem;
}
.card-body{
    background: rgba(24, 24, 24, 0.871);
}